<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420449922030-i3bv7i1qtjmblkfk9o824d5b2divp13k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420449922030-i3bv7i1qtjmblkfk9o824d5b2divp13k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>420449922030-fuhaffqoe7862g4t8o28ela0nujveb8g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ8L8j8_IZWq_Yqw9EXZEOb0QI623eU_U</string>
	<key>GCM_SENDER_ID</key>
	<string>420449922030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gulfawater.vimdrive</string>
	<key>PROJECT_ID</key>
	<string>gulfa-water-327510</string>
	<key>STORAGE_BUCKET</key>
	<string>gulfa-water-327510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420449922030:ios:40c20d5d1987210091bcff</string>
</dict>
</plist>